* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    perspective: 2000px;
}

.bodyClass {
    background: url('./katalogBG.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.magazine {
    width: 800px;
    height: 550px;
    margin: auto;
    display: flex;
}

.page1 {
    flex: 1;
    box-shadow: inset -12px 0px 18px 0px rgba(0, 0, 0, 0.22);
    
}

.page2 {
    flex: 1;
    box-shadow: inset 12px 0px 18px 0px rgba(0, 0, 0, 0.22);
}

.page {
    position: absolute;
    top: 0;
    width: 400px;
    height: 550px;
    right: calc((100vw - 800px) / 2);
    transform-origin: left;
    transform-style: preserve-3d;
}

.fliped {
    transform: rotateY(-180deg);
}

.pageFront, .pageBack {
    position: absolute;
    width: 400px;
    height: 550px;
}

.pageFrontshadow {
    box-shadow: inset 12px 0px 18px 0px rgba(0, 0, 0, 0.22);
}

.pageBackshadow {
    box-shadow: inset -12px 0px 18px 0px rgba(0, 0, 0, 0.22);
}

.pageBack {
    transform: rotateY(180deg);
}

.pageB {
    position: absolute;
    top: 0;
    width: 400px;
    height: 550px;
    right: calc((100vw) / 2);
    transform-origin: right;
    transform-style: preserve-3d;
}

.pageFrontB, .pageBackB {
    position: absolute;
    width: 400px;
    height: 550px;
}

.pageBackB {
    transform: rotateY(180deg);  
}

.pageFrontBshadow {
    box-shadow: inset -12px 0px 18px 0px rgba(0, 0, 0, 0.22);
}

.pageBackBshadow {
    box-shadow: inset 12px 0px 18px 0px rgba(0, 0, 0, 0.22);
}

.flipedB {
    transform: rotateY(180deg);
}

/*=========================================================================================================
Buttons
=========================================================================================================*/

.btnFwd, .btnBwd {
    position: fixed;
    top: 50vh;
    font-size: 30px;
    border-radius: 40px;
    border: 1px solid white;
    background: rgb(43, 43, 43);
    width: 50px;
    height: 50px;
    color: white;
}

.btnFwd {
    right: 10px;
}

.btnBwd {
    left: 10px;
}

.btnFwd:hover, .btnBwd:hover, .btnZoom:hover {
    background: rgb(38, 70, 119);
}

.Xgumb {
    position: fixed;
    top: 10px;
    right: 10px;
}

.Xgumb button {
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid white;
    padding: .3rem .4rem;
    background: rgb(43, 43, 43);
    color: white;
}

.Xgumb button:hover{
    background: rgb(255, 37, 37);
}

.btnZoom {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid white;
    padding: .3rem .4rem;
    background: rgb(43, 43, 43);
    color: white;
}

.btnZoom:focus, .btnFwd:focus, .btnBwd:focus, .Xgumb.focus {
    outline: none;
}

.poruka {
    position: fixed;
    top: 50px;
    margin: 0 auto;
    color: white;
    background: rgb(43, 43, 43);
    padding: .7em 1em;
    border-radius: 6px;
    text-align: center;
    width: 300px;
    margin-left: calc((100vw - 300px) / 2);
    visibility: hidden;
}

/*=========================================================================================================
Media queries
=========================================================================================================*/

@media screen and (max-width: 768px) {

    .btnFwd, .btnBwd, .btnZoom {
        display: none;
    }
}