* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
}

/*==============================================================================================
Naslovna ploca
==============================================================================================*/

.naslovna-ploca {
    width: 100%;
    height: 100vh;
    background: url("./naslovna-slika.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.naslovna-ploca-ikone {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.4);
    justify-content: flex-end;
}

.naslovna-ploca-ikone-item {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.naslovna-ploca-ikone img {
    padding: .2em .5em;
}

.naslovna-ploca-ikone p {
    display: none;
    padding-top: 3px;
}

.naslovna-ploca-naslov {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.naslovna-ploca-naslov h1 {
    text-align: center;
    font-size: 8vw;
    letter-spacing: .2rem;
    color: white;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

.naslovna-ploca-naslov p {
    width: 200px;
    font-size: 1.4rem;
    color: white;
    margin: 0 auto;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    font-style: italic;
}

/*==============================================================================================
Tijelo stranice
==============================================================================================*/

.bag-icon {
    width: 50px;
    margin: 1em 0em 0em 1em;
}

.hamburger {
    position: absolute;
    right: 1em;
    top: 102vh;
    width: 35px;
    cursor: pointer;
    visibility: hidden;
}

.crtica {
    width: 25px;
    height: 2px;
    background: rgb(30, 80, 124);
    margin: 5px;
}

.trazilica {
    margin: 0 auto;
    width: 300px;
}

.tijelo-stranice {
    width: 95%;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid magenta;
}

.navigacija {
    width: 140px;
    display: flex;
    flex-direction: column;
}

.navigacija ul {
    font-family: 'Oswald', sans-serif;
    margin-top: 5em;
}

.navigacija li {
    padding: .3em 0;
}

.navigacija li:nth-child(1) {
    margin-bottom: 1em;
}

.navigacija a:hover,
.navigacija a:focus {
    color: rgb(0, 0, 0);
    transition: .1s;
}

.navigacija a {
    text-decoration: none;
    color: rgb(30, 80, 124);
    font-size: 1.2rem;
    display: block;
}

.sadrzaj-stranice {
    width: 90%;
    margin-top: 2em;
}

/*==============================================================================================
Ostalo
==============================================================================================*/

.ostalo {
    width: 95%;
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    border: 1px solid magenta;
}

.ostalo h2 {
    font-size: 1.6rem;
    color: rgb(69, 85, 107);
    margin: auto auto 1em auto;
}

.ostalo h3, .ostalo p {
    font-size: 1.2rem;
}

.ostalo-frame {
    display: flex;
    flex-direction: column;
}

.ostalo-frame-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px dotted firebrick;
}

.ostalo-frame-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ostalo-frame-content-text p:nth-child(1) {
    margin-bottom: 1em;
}

.mapouter {
    text-align:right;
    height:350px;
    width:60%;
    margin-right: 1em;
}

.gmap_canvas {
    overflow:hidden;
    background:none;
    height:350px;
    width:100%;
}

/*==============================================================================================
Media queries
==============================================================================================*/

@media screen and (min-width: 540px) {
    .naslovna-ploca-ikone p {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .naslovna-ploca-naslov h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .ostalo-frame-content {
        flex-direction: column;
        align-items: center;
    }
    
    .mapouter {
        width: 100%;
    }
}

@media screen and (max-width: 675px) {
    .navigacija {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgb(72, 139, 201);
        clip-path: circle(0px);
        -webkit-clip-path: circle(0px);
        transition: all .3s ease-out;
        pointer-events: none;
    }

    .navigacija.open {
        clip-path: circle(600px);
        -webkit-clip-path: circle(600px);
        pointer-events: all;
    }

    .navigacija ul {
        margin: auto;
    }

    .navigacija a {
        color: whitesmoke;
    }

    .sadrzaj-stranice {
        width: 100%;
    }

    .hamburger {
        visibility: visible;
    }
}

/*==============================================================================================
Ecwid tags
==============================================================================================*/
.horizontal-menu-parent {
    display: flex;
    flex-direction: column;
}

.horizontal-menu-item span {
    font-size: 1.4em;
}