* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*===========================================================================================================
Main store
===========================================================================================================*/

.store-wrapper {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(83, 95, 94);
}

header a, header h1 {
    color: white;
    margin: auto 0;
    text-decoration: none;
}

header h1 {
    margin-left: 10vw;
    font-size: 2rem;
}

header h1::first-letter {
    color: rgb(255, 235, 58);
}

header nav a {
    display: inline-block;
    margin: auto 0;
    text-decoration: none;
    padding: 9px;
    margin-right: 10vw;
}

/*===========================================================================================================
O nama
===========================================================================================================*/

.store-item {
    margin-bottom: 2em;
}

.store-item h2 {
    font-size: 1.6rem;
    margin-bottom: .5em;
}

iframe {
    width: 50%;
    height: 350px;
    margin-right: 1em;
}

.store-flex {
    display: flex;
}

.store-flex-vertical {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.store-flex-vertical p {
    margin-bottom: 1em;
}

.store-flex-vertical p:nth-child(2) {
    margin-bottom: 2em;
}

/*===========================================================================================================
Media queries
===========================================================================================================*/

@media screen and (max-width: 768px) {
    .store-flex {
        flex-direction: column;
    }
    
    iframe {
        width: 100%;
    }
}