* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100%;
}

/*===========================================================================================================
Navigacija
===========================================================================================================*/

header {
    display: flex;
    justify-content: space-between;
    background: rgb(83, 95, 94);
    height: 42px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}

header a, header h1 {
    color: white;
    margin: auto 0;
    text-decoration: none;
}

header h1 {
    margin-left: 10vw;
    font-size: 2rem;
}

header h1::first-letter {
    color: rgb(255, 235, 58);
}

.toggler {
    position: absolute;
    top: 6px;
    right: calc(10vw - 6px);
    z-index: 2;
    width: 40px;
    height: 35px;
    opacity: 0;
    visibility: hidden;
}

.hamburger {
    margin-top: 10px;
    margin-right: 10vw;
    visibility: hidden;
}

.line {
    position: relative;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.line::before, 
.line::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: -10px;
    width: 30px;
    height: 3px;
    background: inherit;
}

.line::after {
    top: 10px;
}

.line.opena {
    transform: rotate(180deg);
}

header ul {
    list-style: none;
    display: flex;
    margin-top: 8px;
    margin-right: 9vw;
}
header ul li {
    margin-right: 2em;
}

header ul li a {
    padding: 8px;
}

/*===========================================================================================================
Main store
===========================================================================================================*/

.store-wrapper {
    width: 95%;
    min-height: calc(100vh - 80px);
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 20px;
}

footer {
    background: rgb(83, 95, 94);
    color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright {
    font-size: .8rem;
    text-align: center;
}

/*===========================================================================================================
O nama
===========================================================================================================*/

.store-item {
    margin-bottom: 2em;
}

.store-item h2 {
    font-size: 1.6rem;
    margin-bottom: .5em;
}

iframe {
    width: 50%;
    height: 350px;
    margin-right: 1em;
}

.store-flex {
    display: flex;
}

.store-flex-vertical {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.store-flex-vertical p {
    margin-bottom: 1em;
}

.store-flex-vertical p:nth-child(2) {
    margin-bottom: 2em;
}

/*===========================================================================================================
Media queries
===========================================================================================================*/

@media screen and (max-width: 768px) {
    .store-flex {
        flex-direction: column;
    }
    
    iframe {
        width: 100%;
        margin-right: 0;
    }

    .toggler {
        visibility: visible;
    }

    .clip-box {
        position: absolute;
        right: 0px;
        top: 42px;
        background: rgb(83, 95, 94);
        clip-path: circle(0px);
        -webkit-clip-path: circle(0px);
        transition: all .3s ease-out;
        pointer-events: none;
    }

    .clip-box.open {
        clip-path: circle(97px);
        -webkit-clip-path: circle(97px);
        pointer-events: all;
    }

    .hamburger {
        visibility: visible;
    }

    .clip-box ul {
        flex-direction: column;
        margin-left: 30px;
    }
    .clip-box ul li {
        margin-right: 0;
        margin-bottom: 8px;
    }
}