* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(83, 95, 94);
    height: 42px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}

header a, header h1 {
    color: white;
    margin: auto 0;
    text-decoration: none;
}

header h1 {
    margin-left: 10vw;
    font-size: 2rem;
}

header h1::first-letter {
    color: rgb(255, 235, 58);
}

.store-wrapper {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: .95rem;
}

li {
    margin-bottom: .75em;
}

button {
    background: white;
    color: rgb(46, 46, 46);
    padding: 5px 15px;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 3px;
    font-size: 1.1rem;
    margin-top: 1em;
}

button:hover {
    background: rgb(46, 46, 46);
    color: white;
    transition: .1s;
}

footer {
    background: rgb(83, 95, 94);
    color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright {
    font-size: .8rem;
    text-align: center;
}

.legal {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.legal li {
    margin: 0 20px;
}

.legal li a {
    text-decoration: none;
    color: rgb(163, 226, 255);
    font-size: .8rem;
}

.legal li a:hover {
    text-decoration: underline;
    color: rgb(138, 192, 218);
}

@media screen and (max-width: 768px) {
    footer {
        height: 110px;
    }

    .legal {
        flex-direction: column;
    }

    .legal li {
        text-align: center;
    }
}