* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*===========================================================================================================
Navigacija
===========================================================================================================*/

header {
    display: flex;
    justify-content: space-between;
    background: rgb(83, 95, 94);
}

header a, header h1 {
    color: white;
    margin: auto 0;
    text-decoration: none;
}

header h1 {
    margin-left: 10vw;
    font-size: 2rem;
}

header h1::first-letter {
    color: rgb(255, 235, 58);
}

.hamburger {
    margin-top: 10px;
    margin-right: 10vw;
    visibility: hidden;
}

.line {
    width: 30px;
    height: 3px;
    background: white;
    margin-bottom: 6px;
}

header ul {
    list-style: none;
    display: flex;
    margin-top: 8px;
    margin-right: 9vw;
}
header ul li {
    margin-right: 2em;
}

header ul li a {
    padding: 8px;
}

/*===========================================================================================================
Main store
===========================================================================================================*/

.store-wrapper {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 20px;
}

/*===========================================================================================================
O nama
===========================================================================================================*/

.store-item {
    margin-bottom: 2em;
}

.store-item h2 {
    font-size: 1.6rem;
    margin-bottom: .5em;
}

iframe {
    width: 50%;
    height: 350px;
    margin-right: 1em;
}

.store-flex {
    display: flex;
}

.store-flex-vertical {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.store-flex-vertical p {
    margin-bottom: 1em;
}

.store-flex-vertical p:nth-child(2) {
    margin-bottom: 2em;
}

/*===========================================================================================================
Media queries
===========================================================================================================*/

@media screen and (max-width: 768px) {
    .store-flex {
        flex-direction: column;
    }
    
    iframe {
        width: 100%;
        margin-right: 0;
    }

    nav {
        position: absolute;
        right: 0px;
        top: 100px;
        background: rgb(83, 95, 94);
        clip-path: circle(0px);
        -webkit-clip-path: circle(0px);
        transition: all .3s ease-out;
        pointer-events: none;
    }

    nav.open {
        clip-path: circle(97px);
        -webkit-clip-path: circle(97px);
        pointer-events: all;
    }

    .hamburger {
        visibility: visible;
    }

    header ul {
        flex-direction: column;
        margin-left: 30px;
    }
    header ul li {
        margin-right: 0;
        margin-bottom: 8px;
    }
}