* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*===========================================================================================================
Navigacija
===========================================================================================================*/

header {
    display: flex;
    justify-content: space-between;
    background: #282165;
    height: 42px;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
}

header img {
    margin-top: 5px;
    width: 90px;
    height: 72px;
    margin-left: 9vw;
}

header a, header h1 {
    color: white;
    margin: auto 0;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    margin-top: 8px;
    margin-right: 9vw;
}

header ul li {
    margin-right: 2em;
}

header ul li a {
    padding: 8px;
}

header ul li a:hover {
    color: #8bdeff;
    transition: .1s;
}

/*===========================================================================================================
Stranica
===========================================================================================================*/

.kataloziWrapper {
    width: 95%;
    max-width: 1150px;
    margin: auto;
    margin-top: 72px;
    min-height: calc(100vh - 152px);
}

.kataloziH1 {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 700;
}

.kataloziH2 {
    font-size: 1rem;
    font-weight: 400;
}

.ikoneKataloga {
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ikoneKataloga a {
    text-decoration: none;
    color: black;
}

.ikonaK {
    margin: 0 3em;
    width: 160px;
    margin-bottom: 2.5em;
}

.ikonaKimg {
    width: 160px;
    border: 1px solid rgb(83, 95, 94);
    border-radius: 6px;
}

/*===========================================================================================================
Footer
===========================================================================================================*/

footer {
    background: #282165;
    color: white;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright {
    font-size: .8rem;
    text-align: center;
}

.legal {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.legal li {
    margin: 0 20px;
}

.legal li a {
    text-decoration: none;
    color: rgb(163, 226, 255);
    font-size: .8rem;
}

.legal li a:hover {
    text-decoration: underline;
    color: rgb(138, 192, 218);
}

.shareonfb {
    background: #3b5998;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    width: 134px;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    footer {
        height: 140px;
    }

    .legal {
        flex-direction: column;
    }

    .legal li {
        text-align: center;
    }
}